* {
  box-sizing: border-box;
}

html {
  background-color: white;
  text-align: center;
}

.container {
  color: #333;
  margin: 10px 10px 0px 0px;
  border-width: 3px solid blue;
}

button {
  color: white;
  background-color: blue;
  width: 120px;
  height: 25px;
  border-radius: 5px;
}

div {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}